.serverContainerList {
  display: flex;
  flex-direction: row;
  border-bottom: gray 1px solid;
}

h5 {
  width: 126px;
  margin-right: 10px;
}

.ItemContainerList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.itemStyle {
  font-size: 14px;
  width: 126px;
  margin-right: 10px;
  margin-top: 14px;
  margin-bottom: 0px;
  max-width: 126px;    /* limit width */
  white-space: nowrap; /* keep text on one line */
  overflow: hidden;    /* hide overflow text */
  text-overflow: ellipsis; /* add "..." */
}

.mainServerListContainer {
  height: 300px;     /* set a height */
  overflow-y: auto;  /* vertical scroll if needed */
  overflow-x: hidden; /* hide horizontal scroll */
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}








/* ======== SPIN ======== */

.lastRegreshStyle {
  font-size: 10px;
  font-weight: bold;
  color: black;
  margin: 0px;
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite; /* 2s = 1 full rotation */
  color: black;
}

.spinContainer {
  background-color: #E0E7EF;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  margin-left: 6px;
  height: 20px;
}

.timePosition{
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1001;
  display: flex;
  flex-direction: row;
  border: solid .5px black;
  border-radius: 26px;
}

.timeTextContainer {
  background-color: #E0E7EF;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 26px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 20px;
}

.mainDivForTimeSpenner {
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: center;
  align-items: center;
}

/* ======== SPIN ======== */


/* ======== GENERAL STYLE START ======== */

td {
    max-width: 100px;       /* set width limit */
    white-space: nowrap;    /* prevent wrapping */
    overflow: hidden;       /* hide overflow text */
    text-overflow: ellipsis; /* add "..." */
}

/* Hide CSS SCROLL VERTICAL VIEW */
html, body {
  height: 100%;
  margin: 0;
  overflow-y: scroll;        /* or 'auto' */
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;                  /* Chrome/Safari/Edge */
  height: 0;
}

.timeCheckContainer {
  background-color: #E0E7EF;

}

/* ======== GENERAL STYLE END ======== */
/* ======================================================================================== */
/* ======== MODAL STYLE START ======== */

.dropDownContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.timePosition{
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.selectConintaner {
  margin-top: 8px;
  width: 200px;
  border-radius: 12px;
  padding-left: 14px;
  padding-right: 14px;
  height: 36px;
  border: 1px solid rgb(216, 215, 215);
  appearance: none;
}

.labelStyle{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 8px;
  font-weight: bold;
  font-size: 13px;
}

.inputTitleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputContainer{
  margin-top: 22px;
  margin-bottom: 22px;
}

.inputStyle {
  margin-top: 8px;
  width: 400px;
  border-radius: 12px;
  padding-left: 14px;
  height: 36px;
  border: 1px solid rgb(216, 215, 215);
}

.detailStyle {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: gray;
  margin-top: 2px;
}


.formContainerHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 640;
  font-size: 20px; 
}

.containerHeader {
  border-bottom: gray 1px solid;
}

.formTItle {
 margin-left: 8px;
 margin-bottom: 0px;
 margin-top: 0px;
}

.formDetails {
  margin-top: 8px;
   font-size: 14px;
   color: gray;
}


/* MODAL BUTTON */
.modalButton {
  position: fixed;
  top: 80%;
  right: 0%;
  padding: 12px 18px;
  background-color: #5473a1;  
  color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-color: none;
  border-width: 0px;
  cursor: pointer;
  z-index: 1001;
  font-weight: bold;
}

/* ======== MODAL STYLE END ======== */
/* ======================================================================================================================== */
/* ======== CLIENT LOGO CONTAINER START ======== */

/* Your content can be any height */
.containerASD {
  padding-left: 100px;
  padding-right: 100px;
  height: 3000px;
}

.logoContainer{
  display: flex;
  flex-direction: column; /* keep items stacked vertically */
  align-items: center;    /* center horizontally */
  justify-content: center; /* center vertically if you want full-page centering */
  height: 300px;
}

.imgStyle {
  width: 120px;
}


/* ======== CLIENT LOGO CONTAINER END ======== */
/* ======================================================================================================================== */
/* ======== MAIN BODY START ======== */

.serverContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.server{
  width: 100%;
  text-align: center;
}

.serverTypes {
  display: flex;
  justify-content: space-around;
  margin-top: 52px;
  align-items: flex-start;
}

.app {
  background-color: #E0E7EF;
  margin-left: 14px;
  margin-right: 14px;
  border-radius: 20px;
  flex: 1;
  padding-left: 14px;
  padding-right: 14px;
}

.data{
  background-color: #E0E7EF;
  margin-left: 14px;
  margin-right: 14px;
  border-radius: 20px;
  flex: 1;
  padding-left: 14px;
  padding-right: 14px;
}

/* ============ MAIN BODY END ============ */
/* ======================================================================================================================== */
/* ======== Server Link Style END ======== */

.iconStyleOnline {
  color: #22c55e;
  margin-right: 8px;
}

.iconStyleOffline {
  color: #ef4444;
  margin-right: 8px;
}

.linkStyle {
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.linkContainer {
  background-color: white;
  color: black;
  flex-direction: row;
  display: flex;
  border-radius: 30px;
  padding-left: 7px;
  height: 30px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.linkStyle:hover .linkContainer {
  filter: drop-shadow(0 0 4px #3B5B87);
  cursor: pointer;
}

/* ======== Server Link Style END ======== */